@tailwind base;
@tailwind components;
@tailwind utilities;

/* height must be some multiple of toastHeight + (toastMarginBottom - 1) */
.Toastify__toast-container {
  height: 472px;
  position: revert;
  overflow: hidden;
  scroll-behavior: smooth;
  box-sizing: content-box;
}

.Toastify__toast-container--top-right {
  right: 16px;
  top: 16px;
}

/* must be toastMarginBottom */
.Toastify__toast {
  margin-bottom: 16px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.Toastify__toast-container.hide-requests .Toastify__toast[id^="request"],
.Toastify__toast-container.hide-requests .Toastify__toast[id^="response"] {
  display: none;
}
