@tailwind base;
@tailwind components;
@tailwind utilities;

/* height must be some multiple of 64 + 16 */
.Toastify__toast-container {
  height: 400px;
  overflow: hidden;
  scroll-behavior: smooth;
  border: 1px solid red;
  box-sizing: content-box;
}

.Toastify__toast-container--top-right {
  right: 16px;
  top: 16px;
}

/* must be 16 */
.Toastify__toast {
  margin-bottom: 16px;
}
